<% layout("/layouts/plateout") %>
<body>
  <div class="offset-3">
    <div class="car" style="width: 20rem">
      <h5 class="card-title"><%= allListing.title %></h5>
      <img
        src="<%= allListing.image.url %>"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 100%; object-fit: cover"
      />
      <div class="card-body">
        <p class="card-text"><%= allListing.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Price : &#8377;<%= allListing.price.toLocaleString("en-IN") %>
        </li>
        <li class="list-group-item">Location: <%= allListing.location %></li>
        <li class="list-group-item">Country: <%= allListing.country %></li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="mb-3 col-md-4">
            <form
              action="/listing/<%= allListing._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-dark Delete-btn">
                Delete
              </button>
            </form>
          </div>
          <div class="mb-3 col-md-4">
            <form action="/listing/<%= allListing._id %>/edit" method="GET">
              <button class="btn btn-dark Edit-btn">Edit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offset-3">
    <form
      action="/listing/<%= allListing._id %>/review"
      method="POST"
      style="width: 50%; margin-top: 30px"
      class="needs-validation"
      novalidate
    >
      <h2>Review</h2>
      <div class="mb-3 mt-3">
        <label for="re">Review</label>
        <input
          type="range"
          min="1"
          max="5"
          id="re"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          class="form-control"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <hr />
    <p>All reviews</p>
    <div class="row">
      <% for (let review of allListing.reviews) { %>
      <div class="card mt-3 col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><%= review.comment %></p>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= review.rating %> stars
          </h6>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
