<% layout("/layouts/plateout") %>
<body>
  <div class="offset-3">
    <div class="car" style="width: 20rem">
      <img
        src="<%= allListing.image.url %>"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 100%; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title"><%= allListing.title %></h5>
        <p class="card-text"><%= allListing.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Price : &#8377;<%= allListing.price.toLocaleString("en-IN") %>
        </li>
        <li class="list-group-item">Location: <%= allListing.location %></li>
        <li class="list-group-item">Country: <%= allListing.country %></li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="mb-3 col-md-4">
            <form
              action="/listing/<%= allListing._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-dark Delete-btn">
                Delete
              </button>
            </form>
          </div>
          <div class="mb-3 col-md-4">
            <form action="/listing/<%= allListing._id %>/edit" method="GET">
              <button class="btn btn-dark Edit-btn">Edit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
